//COLORS   Change to my liking
$color-primary: #179b4e;
$color-primary-light: #179b4e;
$color-primary-dark: rgb(220, 108, 17);


$color-grey:grey;
$color-white: #EAF2E3;
$color-black: #000;

$text-color-primary: #f5ebeb;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;